<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Burnrate</string>
	<key>CFBundleExecutable</key>
	<string>Burnrate</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.burnrate.app</string>
	<key>CFBundleName</key>
	<string>Burnrate</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.4-beta</string>
	<key>CFBundleVersion</key>
	<string>0.1.4-beta</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/wrnsnng/burnrate/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>apOw6+icVsAh8Emfd1cwAkndoeAV71+anDE/w6rkZM8=</string>
</dict>
</plist>
